@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .navigation-bar ul
    display: none
  .navigation-bar-menu
    display: block
  .landing
    &-service
      flex-direction: column
      &-tasks
        width: 100%
      &-answer
        width: 100%
        &-item
          margin-top: 20px
    &-develop
      &-list
        flex-direction: row
        flex-wrap: wrap
        &-item
          margin-top: 20px
          width: 50%
    &-cycle
      flex-wrap: wrap
      img
        display: block
        max-width: 100%
        height: auto
      &-days
        text-align: center
        padding: 0
        margin-bottom: 20px
    &-telegram
      &-row
        flex-wrap: wrap
        justify-content: center
        &-text
          margin-top: 30px
          width: 90%
          &-title
            font-size: 24px
            line-height: 34px
    &-works
      &-list
        &-item
          flex-direction: column
          &:nth-child(2n)
            flex-direction: column
          &-img
            height: 430px
            width: 100%
          &-description
            width: 100%
            &-list
              width: 100%
              margin-bottom: 15px

              &-item
                padding: 0
    &-order
      &-works
        flex-direction: column
        align-items: flex-start
        &-list
          width: 100%
        &-checkout
          margin-top: 30px
          &-price
            font-size: 70px
    &-template
      &-head
        flex-direction: column
        &-title
          margin-top: 10px
          margin-bottom: 10px
      &-body
        flex-direction: column
        &-sidebar
          width: 100%
        &-content
          width: 100%
  .projects
    display: flex
    justify-content: space-between
    width: 100%
    flex-wrap: wrap
    &-head
      display: block
      width: 100%
      height: 55vh
      padding: 120px 0
      &-title
        position: absolute
        width: 60%
        z-index: 2
        color: $black
        h1
          font-size: 60px
          line-height: 72px
        &-tagline
          font-size: 20px
          color: $black
          line-height: 22px
      &-svgbox
        width: 100%
        float: right
        position: relative
        margin-top: -250px
        z-index: 0
    &-list
      order: 1
      width: 100%
      display: flex
      flex-wrap: wrap
      &-item
        width: 100%
    &-menu
      order: 0
      transition: all 0.3s
      display: flex
      flex-direction: row
      justify-content: space-between
      align-content: center
      align-items: center
      width: 100%
      &-top
        order: 0
        width: 45%
      ul
        flex-wrap: wrap
        align-content: center
        padding: 0
        flex-direction: row
        align-items: center
        display: flex
        li
          padding-left: 10px
          display: block
          a
            color: $black
            transition: all 0.3s
            &:hover
              color: #0093EE
              text-decoration: none
      &-bottom
        width: 45%
        padding-top: 0
        order: 1
    .b_fix
      background: transparent
      position: relative
      top: 0
  .service
    &-svg-box
      margin-top: -460px
    &-list
      width: 100%
      display: flex
      flex-direction: row
      flex-wrap: wrap
      margin-top: -20px
      justify-content: space-between
      &-item
        margin-top: 40px
        width: 100%
        &-head
          display: flex
          align-items: center
          flex-direction: row
          justify-content: flex-start
          &-icon
            &-prototype
              width: 74px
              height: 74px
              background-size: cover
              background-image: url('../img/icons8-Processor-96.png')
            &-engineering
              width: 74px
              height: 74px
              background-size: cover
              background-image: url('../img/icons8-Engineering-96.png')

            &-bot
              width: 74px
              height: 74px
              background-size: cover
              background-image: url('../img/icons8-Robot_3-96.png')
            &-corp
              width: 74px
              height: 74px
              background-size: cover
              background-image: url('../img/icons8-Web_Design_2.png')
            &-shop
              width: 74px
              height: 74px
              background-size: cover
              background-image: url('../img/icons8-Shop-96.png')
            &-landing-page
              width: 74px
              height: 74px
              background-size: cover
              background-image: url('../img/icons8-Template.png')

          h4
            font-size: 32px
            font-weight: 500
            color: $black
            padding: 0px
            margin: 0px
            margin-left: 15px
        &-content
          margin-left: 90px
          &-text
            font-size: 16px
          &-footer
            margin-top: 30px
            display: flex
            align-items: center
            flex-direction: row
            justify-content: space-between
            &-not-price
              font-size: 24px
              color: $black
              font-weight: 400
            &-price
              font-size: 32px
              color: $black
              font-weight: 500
            &-more
              font-size: 16px
              color: white
              padding: 10px 24px
              border-radius: 30px
              text-transform: uppercase
              background: linear-gradient(#1E6AFF, #BE25FF)
              transition: all 0.3s
              &:hover
                transform: scale(1.2, 1.2)
                color: white
                text-decoration-line: none
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

  .landing
    height: calc(90vh - 60px)

    &-tagline
      h1
        font-size: 40px
        line-height: 56px
      h2
        margin-top: 10px
        font-size: 26px
        line-height: 33px
      &-view
        font-size: 16px
    &-service
      flex-direction: column
      &-tasks
        margin-top: 0px
        padding: 10px
        width: 100%
        height: 630px
        &-title
          font-size: 30px
          line-height: 35px
        &-description
          padding: 30px 0
        &-phone
          font-size: 30px
      &-answer
        width: 100%
        &-item
          margin-top: 20px
    &-develop
      &-list
        flex-direction: row
        flex-wrap: wrap
        &-item
          margin-top: 20px
          width: 100%
          padding: 0
    &-cycle
      flex-wrap: wrap
      img
        display: block
        max-width: 100%
        height: auto
      &-days
        text-align: center
        margin-bottom: 20px
    &-telegram
      &-row
        text-align: center
        flex-wrap: wrap
        justify-content: center
        &-icon
          img
            width: 50%
        &-text
          margin-top: 30px
          padding-left: 0
          width: 100%
          &-title
            font-size: 24px
            line-height: 34px
    &-works
      &-list
        &-item
          flex-direction: column
          &:nth-child(2n)
            flex-direction: column
          &-img
            height: 430px
            width: 100%
          &-description
            width: 100%
            &-list
              width: 100%
              margin-bottom: 15px
              flex-direction: column
              &-item
                padding: 0
    &-order
      &-title
        line-height: 45px
      &-works
        flex-direction: column
        align-items: flex-start
        &-list
          width: 100%
        &-checkout
          margin-top: 30px
          width: 100%
          text-align: center
          &-price
            font-size: 60px
    &-template
      &-head
        flex-direction: column
        &-title
          margin-top: 10px
          margin-bottom: 10px
          h4
            line-height: 40px
            margin-bottom: 20px
        &-price
          font-size: 60px

      &-body
        flex-direction: column
        &-sidebar
          width: 100%
        &-content
          width: 100%
          &-list
            &-item
              width: 100%
              height: 250px
    &-formOrder-form
      width: 100%
      padding: 30px
      &-head-description
        margin-bottom: 15px

  .projects
    display: flex
    justify-content: space-between
    width: 100%
    flex-wrap: wrap
    &-head
      display: block
      width: 100%
      height: 100vh
      padding: 120px 0
      &-title
        position: absolute
        width: 90%
        z-index: 2
        color: $black
        h1
          font-size: 60px
          line-height: 72px
        &-tagline
          font-size: 20px
          color: $black
          line-height: 22px
      &-svgbox
        width: 200%
        float: right
        position: absolute
        margin-top: -20px
        top: 0
        right: 0
        z-index: 0
    &-list
      order: 1
      width: 100%
      display: flex
      flex-wrap: wrap
      &-item
        width: 100%
    &-menu
      order: 0
      transition: all 0.3s
      display: flex
      flex-direction: column
      justify-content: space-between
      align-content: center
      align-items: center
      width: 100%
      &-top
        order: 0
        width: 100%
      ul
        flex-wrap: wrap
        align-content: center
        padding: 0
        flex-direction: row
        align-items: center
        display: flex
        li
          padding-left: 10px
          display: block
          a
            color: $black
            transition: all 0.3s
            &:hover
              color: #0093EE
              text-decoration: none
      &-bottom
        width: 100%
        padding-top: 0
        order: 1
    .b_fix
      background: transparent
      position: relative
      top: 0

  .service
    &-list
      &-item
        margin-top: 40px
        width: 100%
        &-head
          display: flex
          align-items: center
          flex-direction: row
          justify-content: flex-start
          h4
            line-height: 38px
            font-size: 32px
            font-weight: 500
            color: $black
            padding: 0px
            margin: 0px
            margin-left: 15px
        &-content
          margin-left: 0px
          &-text
            font-size: 16px
          &-footer
            margin-top: 30px
            display: flex
            align-items: center
            flex-direction: row
            justify-content: space-between
            &-not-price
              font-size: 24px
              color: $black
              font-weight: 400
            &-price
              font-size: 32px
              color: $black
              font-weight: 500
            &-more
              font-size: 16px
              color: white
              padding: 10px 24px
              border-radius: 30px
              text-transform: uppercase
              background: linear-gradient(#1E6AFF, #BE25FF)
              transition: all 0.3s
              &:hover
                transform: scale(1.2, 1.2)
                color: white
                text-decoration-line: none
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)

  .landing
    padding: 10px
    height: calc(90vh - 60px)
    &-formOrder-form
      width: 100%
      padding: 10px


  .projects
    display: flex
    justify-content: space-between
    width: 100%
    flex-wrap: wrap
    &-head
      display: block
      width: 100%
      height: 80vh
      padding: 100px 0
      &-title
        position: absolute
        width: 90%
        z-index: 2
        color: $black
        h1
          font-size: 60px
          line-height: 72px
        &-tagline
          font-size: 20px
          color: $black
          font-weight: 300
          line-height: 22px
      &-svgbox
        width: 200%
        margin-top: -30px
        float: right
        position: absolute
        top: 0
        right: 0
        z-index: 0
    &-list
      order: 1
      width: 100%
      display: flex
      flex-wrap: wrap
      &-item
        width: 100%
    &-menu
      order: 0
      transition: all 0.3s
      display: flex
      flex-direction: column
      justify-content: space-between
      align-content: center
      align-items: center
      width: 100%
      &-top
        order: 0
        width: 100%
      ul
        flex-wrap: wrap
        align-content: center
        padding: 0
        flex-direction: row
        align-items: center
        display: flex
        li
          padding-left: 10px
          display: block
          a
            color: $black
            transition: all 0.3s
            &:hover
              color: #0093EE
              text-decoration: none
      &-bottom
        width: 100%
        padding-top: 0
        order: 1
    .b_fix
      background: transparent
      position: relative
      top: 0
  .service
    &-list
      &-item
        margin-top: 40px
        width: 100%
        &-content
          margin-left: 0px
          &-text
            font-size: 16px
          &-footer
            margin-top: 30px
            display: flex
            align-items: center
            justify-items: center
            flex-direction: column
            justify-content: space-between
            &-not-price
              font-size: 24px
              color: $black
              font-weight: 400
            &-price
              font-size: 32px
              color: $black
              font-weight: 500
/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

